.section-bg-image {
    background: url('../../assets/long-2.jpg');
}

/* .header-title {
    background: url('../../assets//hd-1.jpg');
    background-position: top;
    background-attachment: fixed;
    height: 100vh;
} */

/* .overlaybox {
    height: 100vh;
} */